.catalog-container {
  color: #000;
  text-align: center;
}

@media (min-width: 768px) {
  .catalog-container {
    margin: 30px 20px
  }
}

@media (min-width: 1200px){
  .catalog-container{
    margin: 0 auto;
    max-width: 1000px;
  }
}
