.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg%27%3E%3Cpath stroke='rgba(0,40,91, 1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler {
  border-color:#F78B00;
}

.navbar-light .navbar-toggler {
  border: none;
}

.main-nav {
  min-height: 70px;
  font-size: 24px;
  color: rgb(0, 39, 94);
  border: none;
}

.main-nav a.active {
  color: #00285f;
  font-weight: bold;
}

.main-nav h4 {
  font-size: 28px;
}

.nav-logo-text,
.nav-logo-text:hover {
  color: #00285f;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
}

.navbar-items {
  justify-content: right;
}

@media (min-width: 576px) {
  .main-menu {
    color: #00285f;
  }

  .main-menu ul {
    display: flex;
    align-items: flex-end;
  }

  .main-menu li {
    padding: 0 20px;
    font-size: 18px;
  }
}
